<% layout("/layouts/boilerplate") %>

<body class="bg-light">
  <div class="container mt-2 mb-5">
    <div class="card shadow-sm rounded-4">
      <div class="card-body">
        <h2 class="mb-1 text-start">Your Beloved:<%=  listing.title %></h2>
        <br />

        <% if (listing.image) { %>
          <div class="d-flex justify-content-center mb-1 listings-card" style="height: 300px;width:1700px">
            <img src="<%= listing.image.url %>" alt="Listing Image" 
                 class="listing-image rounded border" 
                 style="width: 30%; max-width: 400px;">
          </div>
        <% } %> 
        <br />

        <ul class="list-group list-group-flush">
          <li class="list-group-item"><%= listing.description %></li>
          <li class="list-group-item">₹<%= listing.price.toLocaleString('en-IN') %></li>
          <li class="list-group-item"><%= listing.location %>, <%= listing.country %></li>
        </ul>
        <br />

        <div class="d-flex justify-content-between">
          <a href="/listings/<%= listing._id %>/edit" class="btn btn-primary px-4 rounded-2">Edit</a>
          <form method="POST" action="/listings/<%= listing._id %>?_method=DELETE">
            <button type="submit" class="btn btn-dark px-4 rounded-3">Delete</button>
          </form>
        </div>
        <div class="col-8 offset-1 mb-3">
          <hr>
          <h4>Leave a Review</h4>
          <form action="/listings/<%=listing.id %>/reviews" 
            method="post"
            novalidate
            class="needs-validation"
            >
            <div class="mb-3 mt-3">
              <label for="rating" class="form-label">Rating</label>
          
             <input type="range" min="1" max="5" id="rating" name="review[rating]" class="form-range" value="3" required>
<div class="invalid-feedback">
  Please select a rating between 1 and 5.
</div>


            </div>
            <div class="mb-3 mt-3">
              <label for="comments" class="form-label">Comments</label>
              <textarea name="review[comment]" id="comment" cols="40" rows="5" class="form-control" required></textarea>
              <div class="invalid-feedback">Please submitt some comments </div>
            </div>
            <br>
            <button class="btn btn-outline-dark">Submitt</button>
          </form>
      <hr>
       <p class="fs-5 fw-semibold text-dark mb-3">All Reviews</p>

<div class="row">
  <% for (let review of listing.reviews) { %>
    <div class="col-md-5 col-sm-12 mb-4">
      <div class="card border-0 shadow-sm rounded-4" style="background-color: #f5f5f5;">
        <div class="card-body">
          <h6 class="card-subtitle mb-2 text-muted">John the Don</h6>
          
          <p class="card-text text-dark mb-1"><%= review.comment %></p>
          
          <p class="card-text mb-2" style="color: #226f90c5;">
            <strong><%= review.rating %></strong> Stars
          </p>
          
          <form method="POST" action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE">
            <button class="btn btn-sm btn-outline-danger">Delete</button>
          </form>
        </div>
      </div>
    </div>
  <% } %>
</div>


        </div>
        <br />
      </div>
    </div>
  </div>
</body>
